<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerdu's Django Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
</head>
<body>
    <nav class = 'navbar navbar-expand-lg navbar-dark bg-primary' id = "mainNav">
        <div class = "container-fluid">
            <a class = "navbar-brand" href="{% url 'home' %}">Home</a>
        </div>
    </nav>
    {% block content %} 

    {% endblock content %}
    <footer class = "py-3 bg-grey">
        <p class = "m-0 text-dark text-center ">Copyright &copy; 2022 Nerdu's Django Blog App </p>
    </footer>
</body>
</html>